img {
  max-width:100%;
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
}

.navbar a {
  cursor:default;
}

#play_screen {
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  background-color:white;
}

#play_screen table {
  width:100%;
  height:100%;
}

#play_screen table tr td {
  background-color:#ddd;
  border:2px solid white;
  padding:0.5em;
  vertical-align:middle;
  text-align:center;
}

/*
 * NON-MOBILE
 */
@media (min-width: 768px) {

  .navbar {
    border-radius: 0px;
  }

}
